@use 'slider';
@use 'vars' as v;
@use 'mixins' as m;
@import 'extend';

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: v.$font-family-main;
    color: v.$color-text;
    font-size: v.$font-size;
}

main {
    background-color: v.$color-white;
    font-family: v.$font-family-main;

}

ul,
ol {
    list-style: none;

}

a {
    text-decoration: none;
}

.container {
    max-width: v.$width-container;
    margin: 0 auto;
}

.title {
    font-family: v.$font-family-title;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    @extend %btn-base;

    &:hover {
        @extend %btn-elevation;
    }
}

.social {
    @include m.flex(space-between, center);
    gap: 20px;
}

.header {
    position: relative;
    background: v.$backgorund-gradient;

    &__container {
        @include m.flex(space-between, center);
        z-index: 10;

        position: absolute;
    }

    &__nav {
        @include m.flex(space-between, center);
        margin-top: 53px;
        margin-bottom: 53px;
        padding-right: 110px;
    }

    &__menu {
        @include m.flex(space-between, center);
        gap: 70px;
        padding-left: 144px;

        &-item {
            position: relative;
            display: inline-block;

            &::before {
                content: "";
                position: absolute;
                left: -14px;
                /* Смещаем влево от текста */
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                border: 1px solid #ffffff;
                border-radius: 50%;
                background: transparent;
            }
        }

        &-link {
            font-family: v.$font-family-menu;
            font-size: 0.778em;
            padding-top: 18px;
            padding-bottom: 18px;
            color: v.$color-white;
        }
    }

    &__social {
        &-link {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: transparent;
            position: relative;

            &:hover,
            &:focus {
                cursor: url('../assets/img/cursor.png'), pointer;
                border: 1px solid v.$color-text;

                .header__social-icon {
                    fill: v.$color-text;
                }
            }
        }

        &-icon {
            position: absolute;
            @include m.pos_center(50%, 50%);
            fill: v.$color-white;

        }

    }

}


.burger {
    display: none;

    @media screen and (max-width:768px) {
        &:checked~.menu {
            opacity: 1;
            right: 0;
        }

        &:checked~.burger__img {
            transform: rotate(587deg);
            transition: all 0.4s;

            &::before {
                opacity: 0;
            }

            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

    &__img {
        display: none;
        cursor: pointer;

        @media screen and (max-width:768px) {
            display: inline-block;
            position: relative;
            top: -3px;
            width: 34px;
            height: 2px;
            background-color: v.$color-violet;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: v.$color-violet;
                top: 10px;
            }

            &::after {
                top: -10px;
            }

        }
    }
}

// .projects {
//     margin-top: 100px;
//     padding-bottom: 150px;
//     position: relative;

//     &-blue {
//         position: absolute;
//         top: 174px;

//         left: 0;
//         width: 585px;
//         height: 470px;
//         background-color: #55B7FF;
//     }

//    

//     &_list {
//         @include m.flex(space-between, center);
//         flex-wrap: wrap;
//         gap: 120px;
//     }

//     &-item {
//         @include m.flex(space-between, center);
//         gap: 64px;
//         z-index: 99;
//         position: relative;
//         top: 100px;

//         &:nth-child(even) {
//             flex-direction: row-reverse;
//         }
//     }

//     &-content {
//         font-family: v.$font-family-main;
//         width: 470px;
//         height: 350px;

//         &-title {
//             font-size: 22px;
//             text-align: left;
//             font-weight: 400;
//         }

//         &-subtitle {
//             font-size: 44px;
//             text-align: left;
//             font-weight: 700;
//             padding-bottom: 19px;
//         }

//         &-text {
//             line-height: 1.667;
//             margin-bottom: 40px;
//         }

// }
.projects {
    margin-top: 100px;
    padding-bottom: 150px;

    &__title {
        position: relative;
        padding-bottom: 90px;

        &::before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background: v.$color-text;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 57px;

        // Цветные подложки через псевдоэлементы
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 585px;
            height: 470px; // Высота цветного поля
            z-index: 1;
        }

        &--blue::before {
            left: 0;
            background-color: #55B7FF;
            margin-bottom: 63px;
        }

        &--purple::before {
            right: 0;
            background-color: #7E5AFF;
        }

        // &--reverse {
        //     .projects__container {
        //         flex-direction: row-reverse;
        //     }
        // }

    }

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: v.$width-container;
        z-index: 2;
        // padding: 0 20px;

    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        gap: 70px;
        flex: 1;
        // Начальное состояние для анимации
        opacity: 0;
        transform: translateX(-50px) translateY(0);

        transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s ease;

        // Класс, который добавит JS
        .is-visible & {
            opacity: 1;
            transform: translateX(0) translateY(57px);
        }

        &--reverse {

            flex-direction: row-reverse;

        }
    }

    &__image {
        width: 630px;
        height: 470px;
        display: block;
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    &__content {
        flex: 1;
        // padding: 40px;
        font-family: v.$font-family-main;
        width: 470px;
        height: 350px;

        &__title {
            font-size: 22px;
            text-align: left;
            font-weight: 400;
        }

        &__subtitle {
            font-size: 44px;
            text-align: left;
            font-weight: 700;
            padding-bottom: 19px;
        }

        &__text {
            line-height: 1.667;
            margin-bottom: 40px;
        }
    }
}

.location {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    margin-top: 60px;

    &-icon {
        width: 16px;
        height: 30px;
        fill: #000;
    }

    &-text {
        font-size: 15px;
        font-style: italic;
        color: #000;
    }
}

.news {
    // background: v.$backgorund-news;
    background-image: url(../assets/img/news_background.png);
    background-position: center;
    padding-top: 150px;
    padding-bottom: 120px;

    &_title {
        color: v.$color-white;
        margin-bottom: 90px;
        position: relative;

        &::before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background: v.$color-white;
        }
    }
}

.section-gallery {
    padding-top: 150px;
    padding-bottom: 150px;
}

.gallery {


    &_title {
        position: relative;
        margin-bottom: 90px;

        &::before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background: v.$color-text;
        }
    }

    &__grid {
        display: grid;
        /* Создаем 4 равные колонки и 2 ряда */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 214px);
        /* Высоту можно настроить */
        gap: 10px;
        /* Отступы между фото */
        max-width: 1200px;
        // margin: 0 auto 40px;
        margin-bottom: 60px;
    }

    &__item {
        width: 285px;
        height: 214px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Чтобы фото не деформировались */
            display: block;
        }

        /* Большая картинка слева */
        &--big {
            grid-column: 1 / 3;
            /* Занимает 1 и 2 колонки */
            grid-row: 1 / 3;
            /* Занимает 1 и 2 ряды */
            width: 580px;
            height: 438px;
        }
    }

    &__btn {
        padding-left: 57px;
        padding-right: 57px;

        margin: 0 auto;
        display: block;


    }

}

.footer {
    background: v.$backgorund-gradient;
    position: relative;

    &__container {
        @include m.flex(space-between, center);
        max-width: 770px;
        margin: 0 auto;
        padding-top: 203px;
        padding-bottom: 234px;
    }
}

.contact-section {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -300px;
    z-index: 777;
    font-family: v.$font-family-title;
    color: v.$color-text;
    
    max-width: 650px;
    height: 360px;
    margin: 0 auto;
    background-color: v.$color-white;
    // &__container {
    //     max-width: 1200px;
    //     margin: 0 auto;
    // }

    // &__header {
    //     text-align: center;
    //     margin-bottom: 50px;
    //     @include m.flex(center, center);
    //     flex-direction: column;
    // }

    // &__divider {
    //     width: 60px;
    //     border: 1px solid v.$color-text;
    //     margin-bottom: 20px;
    // }

    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 1;
        // letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 42px;
        position: relative;

        &:before {
            content: '';
            height: 1px;
            width: 100px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background: v.$color-text;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 54px;
        max-width: 900px;
        margin: 0 auto;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 40px;
            flex-direction: column;
        }
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    flex: 1;

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 14px;
        color: v.$color-text;
    }

    &__icon {
        color: v.$color-violet;
        font-size: 18px;
        width: 24px;
        fill: v.$color-violet;
        text-align: center;
    }

    &__text {
        line-height: 1.4;
    }
}

.contact-form {
    flex: 1.2;
    min-width: 300px;

    &__group {
        margin-bottom: 30px;
        position: relative;
    }

    &__input {
        @include m.input-reset;
        width: 100%;
        border-bottom: 1px solid v.$border-color;
        padding: 10px 0;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        color: v.$color-text;
        transition: border-color 0.3s ease;

        &::placeholder {
            color: v.$text-gray;
        }

        &:focus {
            border-bottom-color: v.$color-violet;
        }

        // Модификатор ошибки
        &--invalid {
            border-bottom-color: v.$error-color;

            &+.contact-form__error {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &__error {
        color: v.$error-color;
        font-size: 11px;
        position: absolute;
        bottom: -18px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
        transition: all 0.2s ease;
    }

    &__submit {
        @include m.input-reset;
        border: 1px solid v.$color-text;
        padding: 12px 34px;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0;
        cursor: pointer;
        float: right;
        transition: all 0.3s ease;
        // margin-top: 10px;

        &:hover {
            background-color: v.$color-text;
            color: v.$color-white;
        }

        @media (max-width: 480px) {
            width: 100%;
            float: none;
        }
    }
}